#edge_aes_ui label {
  color: #777;
  font-weight: normal;
}

#showPreviewContainer {
  padding-top: 32px;
}

#download-buttons {
  padding-top: 25px;
}

#node_delete {
  margin-top: 20px;
  color: #FFF
}

#edge_btn {
  margin-top: 25px;
  color: #FFF
}

#ui_edge_swap_btn {
  margin-top: 25px;
}

@media (min-width: 768px) {
  #node_delete {
    margin-left: -25px;
  }
}

.edge-selector-hint-from {
  color: #aaa;
  font-size: 28px;
  line-height: 14px;
  padding-left: 4px;
}

.edge-selector-hint-to {
  color: #aaa;
  font-size: 13px;
  vertical-align: top;
  padding-left: 5px;
}

.help-block {
  padding-top: 0;
  font-style: italic;
}

.btn-text {
  padding-left: 5px;
}

@media (min-width: 992px) and (max-width: 1825px) {
  .btn-text {
    display: none;
  }
}
